	.header{
	background-color:#41A317;
	padding:5px;
	}
	.headery{
	background-color:#F5F5DC;
	padding:10px;
	}
	.header1{
	position:relative;
	text-align:center;
	font-family:"Lucida Handwriting", cursive;
	background-color:#41A317;
	padding:40px;
	}
	.htext{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	}
	.headery2{
	background-color:#F5F5DC;
	padding:10px;
	}
	.header2{
	background-color:#41A317;
	padding:5px;
	}
	.footer{
	position:relative;
	text-align:center;
	font-family:"Lucida Handwriting", cursive;
	background-color:#41A317;
	padding:40px;
	}
	.ftext{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	}
	.navbtn{
	display:flex;
	justify-content: center; 
	text-align:center;
	margin-top:10px;
	margin-bottom:5px;
	overflow: hidden;
	background-color:#41A317;
	}
	.nb{
	background-color:#41A317;
	float:left;
	border-right: 1px solid white;
	display:block;
	color: white;
	text-align: center;
	text-decoration: none;
	border:None;
	cursor:pointer;
	}
	nb:last-child{
	border-right:none;
	}
	.nb:hover{
	background-color:#6D6968;
	}
	#row1 {
	display: flex;
	margin:0px;
	}
	.column {
	flex:50%;
	padding:5px;
	}
	.fimg{
	position:relative;
	margin:10px;
	}
	.fimg .imgtxt{
	position: absolute;
	bottom:0;
	background: rgb(0,0,0);
	background:rgba(0,0,0,0.5);
	color:white;
	padding:20px;
	width:94%;
	font-size: 21px;
	}
	#loginform{
	background-image:url("food.webp");
	min-height:600px;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	padding: 20 20 20 20;
	}
	.fr{
	font-family:"georgia",garamond,serif;
	position:absolute;
	top: 50%;
    left: 50%;
	transform:translate(-50%,-50%);
	max-width:350px;
	max-height:450px;
	padding:16px;
	background-color:white;
	}
	input[type=text],input[type=password]{
	width:100%;
	padding:15px;
	margin: 5px 0 22px 0;
	border: none;
	background:#B6B6B4;
	}
	.inp input[type=text]:focus,input[type=password]:focus{
	color:white;
	background-color:#413839;
	outline:none;
	font-size: 20px;
	}
	.lgbtn{
	margin-bottom:5px;
	font-size:20px;
	background-color:#41A317;
	color:white;
	padding:16px 20px;
	border:none;
	cursor:pointer;
	width:100%;
	opacity:0.9;
	}
	lgbtn:hover{
	opacity:1;
	}
	#about{
	background-image:url("foodw.jpg");
	min-height:600px;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	}
	#about #atxt{
	text-align:center;
	position: absolute;
	top:30%;
	background: rgb(0,0,0);
	background:rgba(0,0,0,0.5);
	color:white;
	width:100%;
	font-size: 25px;
	font-family:"Lucida Handwriting",cursive;
	}
	#contact{
	background-color:#62625D;
	min-height:700px;
	position:relative;
	}
	.contactfr{
	font-size: 20px;
	font-family:"georgia",garamond,serif;
	position:absolute;
	top: 50%;
    left: 50%;
	transform:translate(-50%,-50%);
	max-width:800px;
	padding:10px;
	background-color:white;
	}
	.cbtn{
	font-family:"georgia",garamond,serif;
	font-size:20px;
	background-color:#41A317;
	color:white;
	padding:16px 20px;
	border:none;
	cursor:pointer;
	width:100%;
	opacity:0.9;
	}
	cbtn:hover{
	opacity:0.5;
	}
	.cinp input[type=text]:focus,input[type=text]:focus{
	color:white;
	background-color:#413839;
	outline:none;
	font-size: 20px;
	}
	.upload{
	font-family:"georgia",garamond,serif;
	font-size:20px;
	background-color:#41A317;
	color:white;
	cursor:pointer;	
	}
	#rlocation{
	position:relative;
	text-align:center;
	font-family:"Lucida Handwriting", cursive;
	background-color:#41A317;
	padding:30px;
	margin-bottom:5px;
	}
	.rtext{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	}
	#recipe{
	display:flex;
	}
	.flipcard {
		flex:50%;
		padding:5px;	
		flex:33.33%;	
		background-color: transparent;
		width: 500px;
		height: 600px;
		perspective: 1000px;
	}

	.in {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: transform 0.6s;
		transform-style: preserve-3d;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}
	.flipcard:hover .in {
		transform: rotateY(180deg);
	}
	.front, .back {
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.front {
		background-color:#41A317;
		color: white;
	}

	.back {
		background-color: #41A317;
		color: white;
		transform: rotateY(180deg);
		text-align:center;	
	}
	.imagetext{
		padding:5px;
		background: rgb(0,0,0);
		background:rgba(0,0,0,0.5);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family:'Lucida Handwriting',cursive;
	}
	
	
	
	